<%- include('../partials/header') %>

<h1>Edit Pelanggan</h1>

<form action="/customers/edit/<%= customer.id %>?_method=PUT" method="POST">

    <div class="mb-3">
        <label>Nama</label>
        <input type="text" class="form-control" name="name" value="<%= customer.name %>" required>
    </div>

    <div class="mb-3">
        <label>Alamat</label>
        <input type="text" class="form-control" name="address" value="<%= customer.address %>">
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input type="email" class="form-control" name="email" value="<%= customer.email %>">
    </div>

    <div class="mb-3">
        <label>Phone</label>
        <input type="text" class="form-control" name="phone" value="<%= customer.phone %>">
    </div>

    <div class="mb-3">
        <label>Sales</label>
        <select class="form-control" name="userId">
            <% users.forEach(u => { %>
                <option value="<%= u.id %>" <%= customer.userId === u.id ? 'selected' : '' %>>
                    <%= u.username %>
                </option>
            <% }) %>
        </select>
    </div>

    <div class="mb-3">
        <label>Keterangan</label>
        <textarea class="form-control" name="description"><%= customer.description %></textarea>
    </div>

    <button class="btn btn-primary">Update</button>
</form>

<%- include('../partials/footer') %>
