<%- include('../partials/header') %>

<h1>Edit Customer</h1>

<form action="/customers/edit/<%= customer.id %>?_method=PUT" method="POST">

    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" name="name" class="form-control" value="<%= customer.name %>" required>
    </div>

    <div class="mb-3">
        <label>Address</label>
        <input type="text" name="address" class="form-control" value="<%= customer.address %>">
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input type="email" name="email" class="form-control" value="<%= customer.email %>">
    </div>

    <div class="mb-3">
        <label>Phone</label>
        <input type="text" name="phone" class="form-control" value="<%= customer.phone %>">
    </div>

    <div class="mb-3">
        <label>Contact</label>
        <input type="text" name="contact" class="form-control" value="<%= customer.contact %>">
    </div>

    <div class="mb-3">
        <label>Sales</label>
        <select name="salesId" class="form-control">
            <option value="">- pilih -</option>

            <% users.forEach(u => { %>
                <option value="<%= u.id %>" <%= customer.salesId === u.id ? 'selected' : '' %>>
                    <%= u.username %>
                </option>
            <% }) %>
        </select>
    </div>

    <div class="mb-3">
        <label>Note</label>
        <textarea name="note" class="form-control"><%= customer.note %></textarea>
    </div>

    <button class="btn btn-primary">Save</button>
    <a href="/customers" class="btn btn-secondary">Cancel</a    >
</form>

<%- include('../partials/footer') %>
